@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Medication Way<br />
    Karak, Mitha Khel 27100<br />
    <abbr title="Phone">P:</abbr>
    92:3119020633
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">muhammadishtiaqkhattak343@gmail.com.com</a><br />
    <strong>Drugs Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>